{% extends "base.html" %}

{% block content %}
    <div class="row mb-3">
      <div class="col-2">
        <h2> Картинка: </h2>
      </div>
      <div class="col-10">
        <h2>Количество записей: {{page_obj}} </h2>
      </div>
    </div>
    {% for birthday in page_obj %}
    <div class="row">
      <div class="col-2">  
        {% if birthday.image %}
          <img src="{{ birthday.image.url }}" height="100" class="img-fluid rounded">
        {% else %}
          <div style="width: 100px; height: 100px;"></div>
        {% endif %}
      </div>
      <div class="col-10">
        <div>
          {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
          <br><a href="{% url 'birthday:detail' birthday.id %}" class="btn btn-primary btn-sm mt-2">Сколько до дня рождения?</a>
        </div>
        <div>
          <a href="{% url 'birthday:edit' birthday.id %}" class="btn btn-primary btn-sm mt-2">Изменить запись</a>
          <a href="{% url 'birthday:delete' birthday.id %}" class="btn btn-primary btn-sm mt-2">Удалить запись</a>
        </div>
      </div>
      {% if not forloop.last %}
        <hr class="w-100 mt-3">
      {% endif %}
    {% endfor %}
    {% include "includes/paginator.html" %}
{% endblock %} 